@media only screen and (max-width: 991.5px) {
  .tx-dynamic-pricing-rules-w {
    .form-block-modifier-components {
      .form-block-modifier, .form-block-modifier-amount, .form-block-modifier-target {
        margin-bottom: 20px !important;
      }
    }
  }
}